<div class="row">

  <!-- Lesson Builder -->
  <div class="col-sm-12 col-lg-6">
    <app-draggable-items [items]="courseLessons"
                         [title]="'Build Lessons'"
                         [bindUniqueItemId]="'id'"
                         [bindDisplayKey]="'title'"
                         [bindChildDraggableKey]="'content'"
                         [bindChildDisplayKey]="'title'"
                         [enableChildAdd]="true"
                         [closeOnBackdropClick]="false"
                         (itemOnEventTrigger)="draggableItemOnEventTrigger($event)"
                         (itemOnOrderChange)="draggableItemOnOrderChange($event)">
    </app-draggable-items>
  </div>

  <!--  Lesson Content Edit  -->
  <div class="col-sm-12 col-lg-6">
    <app-add-edit-lesson-content *ngIf="editCourseContent" (formSubmit)="createLessonContentOnSubmission($event)"
                                 [lessonContent]="editCourseContent" [resetForm]="resetLessonForm">
    </app-add-edit-lesson-content>

  </div>

</div>

