<nb-card size="medium">
  <nb-card-body class="p-0">
    <div>
      <img class="picture w-100" [src]="course.image"/>
    </div>

  </nb-card-body>

  <nb-card-footer>
    <div class="details">
      <span class="h6" [routerLink]="API_ROUTES.COURSE_DETAILS + '/' + course.id">
        <span class="course-title-link">{{course.title}}</span>
      </span>

      <div class="description">
        {{course.description}}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-auto">
        <div class="details subtitle-2 text-left"><span></span>{{course.type}}</div>
        <i class="nb-square"></i>
      </div>

      <div class="col">
        <div class="details subtitle-2 text-center"><span></span>{{course.duration}} Hours</div>
        <i class="nb-square"></i>
      </div>

      <div class="col-auto">
        <div class="details subtitle-2 text-right"><span></span> {{course.subCourse.length}} Lessons</div>
        <i class="nb-square"></i>
      </div>

    </div>
  </nb-card-footer>
</nb-card>
